<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Game 1</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    
    <header>
        <h2>Gra 1</h2>
    </header>
  <section id="vue-instance" class="playWindow">
      <h3>Liczba 1</h3>
      <input v-model="val1" type="text"/>
      <h3>Liczba 2</h3>
      <input v-model="val2" type="text"/>
      <p>{{result}}</p>
      <button v-on:click="addition">Suma</button>
  </section>
 
     

<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>

<script>
  var vm = new Vue({
    el: '#vue-instance',
    data: {
            val1: 0,
            val2: 0,
            result: 0
        },
        methods: {
            addition: function(val1, val2){
                this.val1.toString();
                this.val2.toString();
                this.result = this.val1 + this.val2;
            }
        },
        computed: {
            message: function(){
                
            }
        }
  });
</script>
</body>
</html>