<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VUE first page</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    
<header class="intro" id="vue-instance">
     
  <section class="introWindow" v-if="isLoggedIn">
      <h2>Witaj {{name}}</h2>
      <p class="introText">Jest to moja pierwsza strona z uzyciem vue.js. Zapraszam Cię do poznania jego możliwości oraz moich umiejętności związanych z jego użyciem</p>
      <ul>
        <li v-for="href in hrefs"><a v-bind:href="href.url">{{href.name}}</a></li>
      </ul>
  </section>
     
  <section class="startWindow" v-else>
      <h2>Podaj swoje imię</h2>
      <input v-model="name" type="text">
      <button @click="login" type="submit">Dalej</button>
  </section>
     
</header>

<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>

<script>
  var vm = new Vue({
    el: '#vue-instance',
    data: {
        isLoggedIn: false,
        name: "",
        hrefs:[
            {name: "Gra- znajdź liczbę", url: "play1.html"},
            //{name: "Soon", url: "#"},
        ]
    },
    methods:{
        login: function(){
        // 'this' refers to the vm instance
        this.isLoggedIn = !this.isLoggedIn;
      }
    }
  });
</script>
</body>
</html>