<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VUE first page</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    
<header id="vue-instance">
     
  <section class="startWindow" v-if="isLoggedIn">
      <h2>Witaj {{name}}</h2>
      <button @click="login" type="submit">Wróć</button>
  </section>
     
  <section class="startWindow" v-else>
      <h2>Podaj swoje imię</h2>
      <input v-model="name" type="text">
      <button @click="login" type="submit">Dalej</button>
  </section>
     
</header>

<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>

<script>
  var vm = new Vue({
    el: '#vue-instance',
    data: {
        isLoggedIn: false,
        name: ""
    },
    methods:{
        login: function(){
        // 'this' refers to the vm instance
        this.isLoggedIn = !this.isLoggedIn;
      }
    }
  });
</script>
</body>
</html>